<div class="modal">
  <header class="modal-header">
    <h3>Keyboard Shortcuts</h3>
  </header>

  <div class="modal-body">
    <table>
      <colgroup>
        <col class="col-mini">
        <col class="col-large">
      </colgroup>
      <tr>
        <th>Key Combination</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>return</td>
        <td>Execute current statement</td>
      </tr>
      <tr>
        <td>shift-return</td>
        <td>Add newline to current code cell, making room for another statement</td>
      </tr>
      <tr>
        <td>Cmd-backspace</td>
        <td>Delete cell (confirmation)</td>
      </tr>
      <tr>
        <td>Ctrl-opt-c</td>
        <td>Copy cell</td>
      </tr>
      <tr>
        <td>Cmd-opt-b</td>
        <td>Change cell type (text/code)</td>
      </tr>
      <tr>
        <td>opt-uparrow</td>
        <td>Focus on previous cell</td>
      </tr>
      <tr>
        <td>opt-downarrow</td>
        <td>Focus on next cell</td>
      </tr>
      <tr>
        <td>Cmd-opt-uparrow</td>
        <td>Move cell up one position</td>
      </tr>
      <tr>
        <td>Cmd-opt-downarrow</td>
        <td>Move cell down one position</td>
      </tr>
      <tr>
        <td>/*</td>
        <td>Open a new text cell</td>
      </tr>
      <tr>
        <td>*/</td>
        <td>Close the current text cell</td>
      </tr>
    </table>
  </div>
</div>

<header class="notebook-header clearfix">
  <div class="notebook-header-primary">
    <h1>JSNotebook</h1>
    <button class="notebook-exec">Run All</button>
  </div>

  <div class="notebook-header-secondary">
    <button class="btn-text notebook-fork">Make my own copy</button>
    <button class="btn-text notebook-auth">Authenticate using Github</button>
    <button class="ir modal-toggle">Keyboard Shortcuts</button>
  </div>
</header>

<div class="banner notebook-auth">
  <p>Please sign in to Github to save <span class="notebook-fork">or make your own copy</span> the notebook.</p>
</div>

<div class="modal-backdrop"></div>
