<div class="cell-controls">
  <button><i class="icon-file icon-white"></i> Switch to Code</button>
  <button><i class="icon-plus icon-white"></i> Add Cell</button>
  <button><i class="icon-hdd icon-white"></i> Copy Cell</button>
  <button><i class="icon-trash icon-white"></i> Delete Cell</button>
</div>