.user-not-owner .notebook-clone,
.notebook-not-saved .notebook-clone,
.user-not-authenticated .notebook-list
  display: none

.ui-loading-icon
  position: absolute
  top: 33%
  left: 50%
  font-size: 2em
  margin-top: -0.7em
  margin-left: -0.7em
