.application
  // Authentication button.
  &.user-is-authenticated .notebook-auth,
  // Make a copy button.
  &.user-is-owner .notebook-fork,
  &.notebook-not-saved .notebook-fork,
  // Make another copy button.
  &.user-not-owner .notebook-clone,
  &.notebook-not-saved .notebook-clone
    display: none
