/*
 * Based off Byword.css. Edited by Blake Embrey on 20/08/2013 for API Notebook.
 * -----------------------------------------------------------------------------
 * This document has been created with Marked.app <http://markedapp.com>.
 * Copyright 2011 Brett Terpstra
 * -----------------------------------------------------------------------------
 * Please leave this notice in place, along with any additional credits below.
 *
 * Byword.css theme is based on Byword.app <http://bywordapp.com>
 * Authors: @brunodecarvalho, @jpedroso, @rcabaco
 * Copyright 2011 Metaclassy, Lda. <http://metaclassy.com>
 */

a
  color: #308bd8
  text-decoration: none

a:hover
  text-decoration: underline

h1,
h2
  margin-top: 32px
  margin-bottom: 12px
  line-height: 1.2

h1:first-child
  margin-top: 0

h3,
h4,
h5,
h6
  margin-top: 12px
  margin-bottom: 0

h5,
h6
  font-size: 0.9em
  line-height: 1.0em

p
  margin: 0 0 24px 0

p:last-child
  margin: 0

.markdown hr
  width: 100%
  margin: 3em auto
  border: 0
  color: #eee
  background-color: #ccc
  height: 1px
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75)

ol
  list-style: outside decimal

ul
  list-style: outside disc

ol,
ul
  padding-left: 0
  margin-bottom: 24px

ol li
  margin-left: 28px

ul li
  margin-left: 16px
  margin-bottom: 8px

ol:last-child,
ul:last-child
  margin: 0

li > ol,
li > ul
  padding-left: 12px

dl
  margin-bottom: 24px

dl dt
  font-weight: bold
  margin-bottom: 8px

dl dd
  margin-left: 0
  margin-bottom: 12px

dl:last-child,
dl dd:last-child
  margin-bottom: 0

pre
  white-space: pre
  margin-bottom: 24px
  overflow: scroll
  padding: 3px 10px
  border: 1px solid #ddd
  border-radius: 3px
  background-color: #eee

code
  padding: 2px
  white-space: nowrap
  border: 1px solid #ddd
  border-radius: 3px
  background-color: #eee

pre code
  white-space: pre
  border: none
  padding: 0
  background-color: transparent
  border-radius: 0

blockquote
  margin-left: 0
  margin-right: 0
  padding: 0 10px
  border-left: 3px solid #ddd
  color: #777

table
  margin-left: auto
  margin-right: auto
  margin-bottom: 24px
  border-bottom: 1px solid #ddd
  border-right: 1px solid #ddd
  border-spacing: 0

table th
  padding: 3px 10px
  background-color: #eee
  border-top: 1px solid #ddd
  border-left: 1px solid #ddd

table td
  padding: 3px 10px
  border-top: 1px solid #ddd
  border-left: 1px solid #ddd

caption
  font-size: 1.2em
  font-weight: bold
  margin-bottom: 5px

figure
  display: block
  text-align: center

.markdown img
  border: none
  display: block
  margin: 1em auto
  max-width: 100%

figcaption
  font-size: 0.8em
  font-style: italic

mark
  background: #fefec0
  padding:1px 3px

@media print
  body
    overflow: auto
  img,
  pre,
  table,
  blockquote,
  figure
    page-break-inside: avoid
  pre,
  code
    border: none !important
