.cell-controls
  position: absolute
  top: -89px
  right: -172px
  border: 1px solid #eee
  border-radius: 5px

  font-size: .75em
  background: #333
  color: #fff
  padding: 3px 0px
  transition: 0.3s ease opacity
  z-index: 1000
  white-space: nowrap

.cell-controls:before
  content: ''
  position: absolute
  top: 50%
  left: -20px

  margin-top: -10px
  border: 10px solid transparent
  border-right-color: #333

.cell-controls button
  display: block
  width: 12.5em
  height: 2.5em
  margin: 2px 5px
  border: 0

  background: transparent
  color: #fff
  line-height: 22px
  padding: 0 7px
  text-align: left

  &:hover
    outline: 1px solid $color-cell-controls-button-outline

.cell-controls button i
  position: relative
  top: -1px

  margin-right: 3px

.cell-controls span
  float: right
  font-size: .75em
  color: $color-cell-controls-keycode

.cell .btn-show-cell-controls
  color: #aaa
  cursor: pointer
  float: right
  font-size: 2.5em
  height: 100%
  margin-right: -2px
  margin-top: -15px
  padding: 0 4px
  position: relative
  text-align: center
  width: 25px

