// Import initial codemirror stylesheet
@import "../../node_modules/codemirror/lib/codemirror.css"

// Allow CodeMirror to have an automatic height
.CodeMirror
  border: 1px solid #eee
  height: auto
  line-height: normal

.CodeMirror-gutters
  border-right: 1px solid #eee

.CodeMirror-scroll
  overflow-y: hidden
  overflow-x: auto


// Theme altered for `text-cell` theme
.cm-s-text-cell .cm-keyword    { color: #cda869; }
.cm-s-text-cell .cm-atom       { color: #CF7EA9; }
.cm-s-text-cell .cm-number     { color: #78CF8A; }
.cm-s-text-cell .cm-def        { color: #aac6e3; }
.cm-s-text-cell .cm-variable   { color: #ffb795; }
.cm-s-text-cell .cm-variable-2 { color: #eed1b3; }
.cm-s-text-cell .cm-variable-3 { color: #faded3; }
.cm-s-text-cell .cm-property   { color: #eed1b3; }
.cm-s-text-cell .cm-operator   { color: #fa8d6a; }
.cm-s-text-cell .cm-comment    { color: #555; font-style: italic; }
.cm-s-text-cell .cm-string     { color: #8f9d6a; }
.cm-s-text-cell .cm-string-2   { color: #9d937c; }
.cm-s-text-cell .cm-meta       { color: #D2A8A1; }
.cm-s-text-cell .cm-error      { color: #AF2018; }
.cm-s-text-cell .cm-qualifier  { color: yellow; }
.cm-s-text-cell .cm-builtin    { color: #9999cc; }
.cm-s-text-cell .cm-bracket    { color: #24C2C7; }
.cm-s-text-cell .cm-tag        { color: #fee4ff; }
.cm-s-text-cell .cm-attribute  { color: #9B859D; }
// .cm-s-text-cell .cm-header     { color: blue; }
.cm-s-text-cell .cm-quote      { color: #24C2C7; }
.cm-s-text-cell .cm-hr         { color: pink; }
.cm-s-text-cell .cm-link       { color: #F4C20B; }
.cm-s-text-cell .cm-special    { color: #FF9D00; }

.cm-s-text-cell .CodeMirror-matchingbracket    { color: #0f0; }
.cm-s-text-cell .CodeMirror-nonmatchingbracket { color: #f22; }

.cm-s-text-cell .CodeMirror-selected
  background: rgba(255, 255, 255, 0.15)

.cm-s-text-cell .CodeMirror-focused .CodeMirror-selected
  background: rgba(255, 255, 255, 0.10)

.cm-s-text-cell.CodeMirror
  color: #e6e1dc
  border-color: #444
  background-color: #202020

.cm-s-text-cell .CodeMirror-gutters
  background: #3D3D3D
  border-right: 1px solid #444

.cm-s-text-cell .CodeMirror-linenumber
  text-shadow: 0px 1px 1px #444

.cm-s-text-cell .CodeMirror-lines .CodeMirror-cursor
  border-left: 1px solid #7991E8

// Read-only hide cursor since its too wierd.
.CodeMirror-readOnly .CodeMirror-cursor
  display: none

// CodeMirror hinting
.CodeMirror-code .CodeMirror-hint-ghost
  color: #999

.CodeMirror-hints
  position: absolute
  margin: 0
  z-index: 20
  max-height: 20em
  font-size: 95%
  font-family: monospace
  overflow: hidden
  overflow-y: auto
  list-style: none
  border: 1px solid #a8a8a8
  box-shadow: 1px 1px 3px #a8a8a8
  border-radius: 0 4px 4px 4px
  background-color: white

.CodeMirror-hints-top
  border-top-left-radius: 4px
  border-bottom-left-radius: 0

.CodeMirror-hint
  margin: 0
  padding: 0 4px
  max-width: 19em
  border: 1px solid transparent
  color: #313942
  cursor: pointer
  overflow: hidden
  white-space: pre
  &:hover
    border-color: #ccc

.CodeMirror-hint-active
  background-color: #d4d4d4

.CodeMirror-hint-match
  font-weight: bold

.CodeMirror-tooltip
  @extends .CodeMirror-hints
  z-index: 10 // Lower z-index than the hints overlay.
  max-width: 42em
  max-height: 14em

.CodeMirror-tooltip-top
  @extends .CodeMirror-hints-top

.CodeMirror-tooltip-right
  border-top-left-radius: 4px
  border-top-right-radius: 0
  &.CodeMirror-tooltip-top
    border-top-right-radius: 4px
    border-bottom-left-radius: 4px
    border-bottom-right-radius: 0

.CodeMirror-tooltip-doc,
.CodeMirror-tooltip-type
  padding: 0.3em 0.5em

.CodeMirror-tooltip-type
  font-weight: bold

.CodeMirror-tooltip-doc
  white-space: pre-wrap
