$button_color = #5B5B5B

.controls-table
  width: 100%
  margin: 0
  table-layout: fixed
  tr
    border-top: 1px solid #eee
    &:first-child
      border-top: 0
  th,
  td
    padding: 8px
    text-align: left

.controls-col-mini
  width: 30%

.controls-col-large
  width: 70%

.btn-round
  position: relative
  width: 26px
  height: @width
  padding: 0
  border: 2px solid $button_color
  background: transparent
  border-radius: 50em

.edit-source
  width: 44px
  height: 100%
  border: 0
  background: transparent

.edit-source:after
  content: '</>'
  color: $button_color
  font-size: 18px

.notebook-exec:after
  content: ''
  position: absolute
  top: 6px
  left: 8px
  display: inline-block
  width: 0
  height: 0
  border: 5px solid transparent
  border-left: 9px solid $button_color

.modal-toggle:after
  content: '?'
  display: block
  position: absolute
  top: 0
  left: 0
  width: 22px
  color: $button_color
  height: @width
  text-align: center
  text-indent: 0
  line-height: @height

.btn-text
  padding: 0
  border: 0
  background: transparent
  color: $button_color
  font-size: 12px
  text-decoration: underline
