.cell-controls
  position: absolute
  top: -85px
  right: -145px
  outline: 1px solid #eee
  border-radius: 5px

  opacity: 0
  background: #333
  color: #fff
  transition: 0.3s ease opacity

.cell:hover .cell-controls,
.cell.active .cell-controls
  opacity: 1

.cell-controls:before
  content: ''
  position: absolute
  top: 50%
  left: -20px

  margin-top: -10px
  border: 10px solid transparent
  border-right-color: #333

.cell-controls button
  display: block
  width: 120px
  height: 30px
  margin: 2px 5px
  border: 0

  background: transparent
  color: #fff
  font-size: 12px
  line-height: 22px
  text-align: left

.cell-controls button i
  position: relative
  top: -1px

  margin-right: 3px
