.inspector > .preview
  > .prefix
    font-weight: bold

.inspector > .children
  display: none
  margin-left: 1.5em

.inspector.open > .children
  display: block

.inspector.can-expand > .preview
  cursor: pointer
  border-left: 1px solid red
