.modal-visible
  overflow: hidden

.modal
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1000
  overflow: auto
  background-color: rgba(0, 0, 0, 0.15)

.modal-dialog
  position: relative
  margin: 0 auto
  padding: 1em
  max-width: 54em

.modal-content
  border: 1px solid #aaa
  overflow: hidden
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1)
  border-radius: 5px
  background-color: #fff

.modal-header
  position: relative
  padding: 1em
  text-align: center
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3)
  border-bottom: 1px solid #ccc
  background-color: #eee

.modal-title
  margin: 0

.modal-close
  position: absolute
  top: 1em
  right: 1em
  border: 0
  padding: 0
  cursor: pointer
  appearance: none
  background: transparent

.modal-body
  padding: 1em
