.application
  max-width: 52em
  margin: 1em auto
  padding: 0 120px

.notebook
  padding: 1em 2em
  border: 1px solid #ccc
  border-top: 0
  border-radius: 0 0 5px 5px
  background: #fff

.notebook-header
  padding: 1em 2em
  border: 1px solid #000
  border-top: 0
  border-radius: 5px 5px 0 0
  background: #333
  color: #fff

  h1
    display: inline-block
    margin: 0 10px 0 0
    vertical-align: middle

.notebook-header-primary
  float: left

.notebook-header-secondary
  float: right
  margin-top: 5px

  button
    margin-left: 5px
    vertical-align: middle

.banner
  padding: 1em 2em
  border: 1px solid #ccc
  border-color: darken($yellow, 20%) #ccc
  background: $yellow
  cursor: pointer

.banner p
  margin: 0

.notebook .cell-result
  border: 1px solid $color-result-border
  border-left-width: 5px
  font-size: 0.95em
  line-height: 1.45
  font-family: monospace
  background-color: $color-result-bg
  &.result-pending
    display: none
  &.result-error
    border-color: $color-error-border
    background-color: $color-error-bg
  > .result-label
    float: left
    padding: 0.55em 0 0.55em 0.6em
  > .inspector
    padding: 0.55em 0 0.55em 1.5em
    overflow: hidden

.notebook > .cell
  margin: 1em 0
  position: relative
  min-height: 1em

.notebook > .cell > .cell-result
  position: relative
  top: -1px // Overlap the codemirror instance
  color: $color-result-text
  &.result-error
    color: $color-error-text

.cell-text .comment
  position: absolute
  top: 50%
  left: -1.5em
  margin-top: -0.5em
  font-family: monospace

.cell-text .comment-close
  left: auto
  right: -1.5em
