.notebook
  width: 48em
  margin: 0 auto 1em
  padding: 1em 2em
  border: 1px solid #ccc
  border-top: 0
  border-radius: 0 0 5px 5px
  background: #fff

.notebook-header
  width: 48em
  margin: 1em auto 0
  padding: 1em 2em
  border: 1px solid #000
  border-top: 0
  border-radius: 5px 5px 0 0
  background: #333
  color: #fff

  h1
    display: inline-block
    margin: 0 10px 0 0
    vertical-align: middle

.notebook-header-primary
  float: left

.notebook-header-secondary
  float: right
  margin-top: 5px

  button
    vertical-align: middle

.banner
  width: 48em
  margin: 0 auto
  padding: 1em 2em
  border: 1px solid #ccc
  border-color: darken($yellow, 20%) #ccc
  background: $yellow
  cursor: pointer

.banner p
  margin: 0

.notebook .cell-result
  border: 1px solid $color-result-border
  border-left-width: 5px
  font-size: 0.95em
  font-family: monospace
  background-color: $color-result-bg
  &.result-pending
    display: none
  &.result-error
    border-color: $color-error-border
    background-color: $color-error-bg

.notebook > .cell
  margin: 1em 0
  position: relative

.notebook > .cell > .cell-result
  position: relative
  top: -1px // Overlap the codemirror instance
  color: $color-result-text
  &.result-error
    color: $color-error-text

.cell-code .label,
.cell-text .comment
  position: absolute
  top: 50%
  left: -1.5em
  margin-top: -0.5em
  font-family: monospace

.cell-text .comment-close
  left: auto
  right: -1.5em

.cell-code .label
  left: auto
  right: 100%
  margin-top: -0.6em
  margin-right: 0.5em
  color: #aaa
  padding: 0 0.5em
  font-size: 0.9em
  border-radius: 2px
  background-color: #f4f4f4
