.application
  width: 95%
  max-width: 52em
  margin: 1em auto

.notebook
  border: 1px solid #ccc
  border-top: 0
  border-radius: 0 0 5px 5px
  background: #fff
  > .notebook-toggle
    > button
      float: right
      color: #333
      font-size: 13px
      border: 0
      padding: 0.4em 0.6em
      background: transparent
    > button:hover,
    > button:focus
      text-decoration: underline
    .notebook-view-active & > .toggle-notebook-view
      display: none
    .notebook-edit-active & > .toggle-notebook-edit
      display: none
  > .notebook-content
    padding: 0.5em 2em

.notebook-header
  padding: 1em 2em
  color: #fff
  background: #333
  border: 1px solid #000
  border-top: 0
  border-radius: 5px 5px 0 0

.notebook-title
  display: inline-block
  width: 100%
  margin: 0
  color: #fff
  font-size: 2em
  font-weight: bold
  border: 0
  background-color: transparent
  &:focus
    outline: 0

.notebook-banner
  padding: 1em 2em
  border: 1px solid #ccc
  border-top-width: 0
  border-bottom-color: darken($yellow, 20%)
  cursor: pointer
  background: $yellow

.notebook-banner p
  margin: 0

.notebook-view > .cell > .cell-result
  border-style: solid
  border-color: $color-result-border
  border-width: 1px 0 0 5px
  font-size: 0.95em
  line-height: 1.45
  font-family: monospace
  background-color: $color-result-bg
  &.result-pending
    display: none
  &.result-error
    background-color: $color-error-bg
    border-left-color: $color-error-border
  > .result-label
    float: left
    padding: .55em 0 .55em .45em
    color: $color-result-label
  > .result-content
    margin: 0 0.3em
    padding: 0.55em 0
    overflow: hidden

.notebook-view > .cell
  border: 1px solid $color-cell-border
  margin: 1em 0
  position: relative
  min-height: 1.55em

.notebook-view > .cell > .cell-result
  color: $color-result-text
  &.result-error
    color: $color-error-text

.cell-text .comment
  position: absolute
  top: 50%
  left: -1.5em
  margin-top: -0.5em
  font-family: monospace

.cell-text .comment-close
  left: auto
  right: -20px

.markdown
  padding: 16px
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol
    margin: 0 0 24px

.notebook-toolbar
  border: solid 1px #CCC
  background-color: #F4F4F4
  padding: 0.5em 2em
  font-size: .8em
  .auth-status
    float: left
    font-weight: bold
    margin-top: 0.5em
  .save-status
    float: left
    font-style: italic
    margin: 0.6em 0 0 0.5em
  .toolbar-buttons
    float: right
    button
      float: left
      margin-right: 1em
      line-height: 28px
    button:last-child
      margin-right: 0

.notebook-raw > pre
  border: 0
  padding: 0
  white-space: pre-wrap
  background-color: transparent

.notebook-edit
  margin: 1em 0
