* {
  box-sizing: border-box;
}

.notebook {
  width: 600px;
  margin: 0 auto;
}

.cell {
  position: relative;

  margin: 20px 0;
}

.cell textarea {
  width: 100%;
  height: 0;
  margin: 0;
  min-height: 2em;
  padding: 10px;
  border: 1px solid #ccc;
  
  box-shadow: none;
  line-height: 1.5;
  resize: none;
}

.cell textarea:focus {
  outline: none;
}

.pending {
  visibility: hidden;
}

.cell-controls {
  position: absolute;
  top: 0;
  right: -145px;
  border-radius: 5px;

  background: #333;
  color: #fff;
  opacity: 0;
  transition: 0.3s ease opacity;
}

.cell:hover .cell-controls,
.cell.active .cell-controls {
  opacity: 1;
}

.cell-controls::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;

  margin-top: -10px;
  border: 10px solid transparent;
  border-right-color: #333;
}

.cell-controls button {
  display: block;
  width: 120px;
  height: 30px;
  margin: 2px 5px;
  border: 0;

  background: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 22px;
  text-align: left;
}

.cell-controls button i {
  position: relative;
  top: -1px;
  
  margin-right: 3px;
}

.cell-title textarea {
  width: 100%;
  height: 30px;
  border: 0;

  background: none;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.cell-code textarea {
  padding-left: 20px;
  border-radius: 3px 3px 0 0;

  background: #fafafa;
  font-family: Source Code Pro, monospace, serif;
  font-size: 13px;
}

.cell div,
.cell pre {
  margin-left: 32px;
}

.cell-code .cell-primary:before {
  content: '❯';
  position: absolute;
  top: 10px;
  left: 9px;
  display: block;
  color: rgb(50, 132, 214);
}

.cell-text textarea {
  border: 1px solid transparent;

  font-size: 16px;
}

.cell-text:hover textarea,
.cell-text textarea:focus {
  border: 1px solid #ccc;
}

.cell-results {
  position: relative;

  padding: 10px 10px 10px 2em;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0 0 3px 3px;

  color: #aaa;
  font-family: Source Code Pro, monospace, serif;
  font-size: 13px;
}

.cell-results-toggle {
  position: absolute;
  top: 10px;
  left: 10px;

  width: 16px;
  height: 16px;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 3px;

  background-color: #eee;
  background-image: -webkit-linear-gradient(top, rgba(255,255,255, 0.2), rgba(0,0,0,0.2));
  line-height: 0;
}

.cell .cell-primary {
  position: relative;
}

.cell-text .cell-primary {
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
}

.cell-handle {
  position: absolute;
  top: 3px;
  right: 5px;

  opacity: 0;
  transition: 0.3s ease opacity;
}

.cell:hover .cell-handle {
  /*display: block;
  opacity: 1;*/
}

.cell-tag {
  float: left;
  padding: 0 10px;

  background: rgba(255,0,0,0.5);
  color: #fff;
  font-size: 12px;
}
