$color-cell-border = #ddd
$color-cell-controls-keycode = #aaa
$color-cell-controls-button-outline = #777

$color-result-bg = #f5f5f5
$color-result-border = $color-cell-border
$color-result-text = #999
$color-result-label = #55a

$color-error-bg = #fcf2f2
$color-error-border = #dFb5b4
$color-error-text = #af4d4b